<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>The PlatinumSelectExclusive Club</title>
<meta name="description"
	content="Example Website for Accenture Internal Educational Use Only">
<meta name="author" content="Andrew Wang">

<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
	rel="stylesheet" type="text/css">

<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/skeleton.css">
<link rel="stylesheet" href="../css/custom.css">

</head>
<body>

	<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="section hero">
		<div class="container">
			<div class="row">
				<div class="one-half column">
					<h5>Welcome to</h5>
					<h4 class="hero-heading">The PlatinumSelectExclusive Club</h4>
					<a class="button button-primary" href="#offerpage">Special $0 Annual Fee Offer
						Available!*</a>
					<a class="button button-primary" href="/manage">Manage Membership</a>
				</div>
				<div class="one-half column card">
					<img class="card" src="../images/maincard.png" height="350px">
				</div>
			</div>
		</div>
	</div>

	<div class="section values" id="offerpage">
		<div class="container">
			<div class="row">
				<div class="one-third column value">
					<h2 class="value-multiplier">$0</h2>
					<h5 class="value-heading">Annual Fee for First 3 Years</h5>
					<p class="value-description">$0 annual fee for the first 3
						years. Annual fee applies after the 3rd membership year.*</p>
				</div>
				<div class="one-third column value">
					<h2 class="value-multiplier">100%</h2>
					<h5 class="value-heading">Benefits through Premium Suppliers</h5>
					<p class="value-description">World-leading premium suppliers
						with best benefits. Exclusive to The PlatinumSelectExclusive Club
						members only.</p>
				</div>
				<div class="one-third column value">
					<h2 class="value-multiplier">1000</h2>
					<h5 class="value-heading">First 1000 Applicants</h5>
					<p class="value-description">This offer may disappear after you
						close this webpage. Take advantage of the offer now!</p>
				</div>
			</div>
			<div class="row">
				<p></p>
			</div>
			<h3 class="value-multiplier">
				Scroll Down for More Information on Offer!
				</h2>
		</div>
	</div>

	<div class="section get-help">
		<div class="container" style="text-align:left">
			<h3 style="text-align:left">What does The PlatinumSelectExclusive Club offer?</h3>
			<ul>
				<li>Exclusive benefits from our premium suppliers
					<ul>
						<li>You might receive a membership card, I guess...*</li>
						<li>And that's it...</li>
						<li>Right, so currently there's no suppliers, but you want a cake maybe? It's $100 + S&H*</li>
					</ul>
				</li>
				<li>Designated customer service line
					<ul>
						<li>Our customer service hours are every other Thursday in December only*</li>
						<li>Twice a year, we will shutdown our customer service hours for training purposes</li>
					</ul>
				</li>
				<li>Special member appreciation day
					<ul>
						<li>We value our members, every year on February 30th, members are invited to our biggest event*</li>
						<li>Past event include: Nothing...</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="section categories">
		<div class="container">
			<h3 class="section-heading">Custom Designed Membership Cards*</h3>
			<p class="section-description">All Card Designs Discontinued since Start of this Membership Program</p>
			<div class="row">
				<div class="one-half column category">
					<img class="u-max-full-width" src="../images/placeholder.png">
				</div>
				<div class="one-half column category">
					<img class="u-max-full-width" src="../images/placeholder.png">
				</div>
			</div>
		</div>
	</div>

	<div class="section get-help">
		<div class="container">
			<h3 class="section-heading">Take Advantage of this Offer Now!</h3>
			<p class="section-description">Call us at +1 (888) 888-8888. Mention offer code "Really?"</p>
			<p class="section-description">Offer available to the first 1000 new members only!"</p>
		</div>
	</div>
	
	<div class="docs-section">
		<p style="font-size:8px">* Terms and conditions apply. Must mention offer code to redeem this offer and for the offer to apply.
		The PlatinumSelectExclusive Club (the club) is not responsible for applicant's failure to mention offer code. Pictures
		on this webpage does not represent the club or its values. Terms and conditions subject to change without notice
		and this membership program (the program) may be terminated at any time without the approval of any members in the club. As of 2018/03/07,
		membership offered through this offer has $0 annual fee for the first 3 membership years, and 1 Million USD every year
		after. All currencies in USD. Any transactions occurred through the club will appear on your bill as "FRAUD - THE CLUB."
		Any rejections or declines on any transactions occurred through the club will incur a 1 thousand USD fee, due immediately
		and cannot be disputed. Cancellations of the program within 2 years for new members will incur a 200 thousand USD
		fee. As of 2018/03/07, no suppliers are in the club and no significant benefits are offered through the program. However,
		we will continue to offer this website to remind you that we exist. Existing members or previous members cannot take
		advantage of this offer. Why are you part of this program anyway? As of 2018/03/07, the membership card is discontinued
		and members of the program will not and cannot receive a membership card of any form. The cake described in this webpage
		is no longer offered. A premium cake may be available at $2500 USD, plus S&H. Call +1 (888) 888-8888 at our customer service
		line hours for more details. Calls are expected to hold around 5 hours+. Special member appreciation day as mentioned in
		this webpage is no longer being offered as the CEO of the club found out that February 30th is not a valid date, ever.
		Wow really are you still reading this terms and conditions? Ok cool, let me write some more. Due to low call volumes, we may
		shutdown our customer service lines occasionally to save...electricity? Save the earth right? Currently our shutdown percentage
		is around 100%. There are 100% chance that a call may not get through. Currently the club only provides customer service through
		landline only, with an email option under development since 1980. You know what? No, it's not going to be offered at all. Custom
		designed membership cards is discontinued and will not ever be offered again.
		</p>
		<p style="font-size:6px" align="center">Created using <a href="http://getskeleton.com">Skeleton</a>. All parts of <a href="http://getskeleton.com">Skeleton</a> are free to use and abuse under the
		<a href="https://github.com/dhg/Skeleton/blob/master/LICENSE.md">open-source MIT license</a>.</p>
	</div>

	<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>